#logoimage {
    text-align: center;
}

body {
    background-color: #A3CEF1;
}

label {
    display: inline-block;
    text-align: left;
    width: 250px;
}

input[type=text] {
    width: 180px;
}

input[type="submit"] {
    background-color: rgb(115, 216, 115);
    outline-color: rgb(115, 216, 115);
}

textarea {
    margin-top: 2%;
    width: 140px;
    height: 100px;
    width: 180px;
}

#container {
    display: flex;
    justify-content: space-between;
}

#container_one {
    background-color: #FFFFFC;
    width: 17.5%;
    height: 700px;
    border-radius: 50px;
    margin-left: 10%;
    min-width: 150px;
}

#container_two {
    background-color: #FFFFFC;
    width: 57.5%;
    height: 700px;
    border-radius: 50px;
    margin-right: 10%;
    min-width: 250px;
}

#content {
    text-align: center;
    font-size: 22px;
}

a {
    color: #FFFFFC;
}

button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #386FA4;
}